In [39]:
import pandas
import requests
import json
import numpy
from pandas.io.json import json_normalize
import re
import numpy as np

print(pandas.__version__)
print(requests.__version__)
print(json.__version__)
print(numpy.__version__)

0.24.2
2.22.0
2.0.9
1.18.4

In [14]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [15]:
list.extend?

In [1]:
data=[ ]
len(data)

0

In [2]:
data.append(100)
data

[100]

In [3]:
data.append(300)
data

[100, 300]

In [17]:
grades=[12,97,67,55,71]
grades.extend((56,65,15))
grades

[12, 97, 67, 55, 71, 56, 65, 15]

In [18]:
grades[-1]

15

In [19]:
grades[0:4]

[12, 97, 67, 55]

In [21]:
grades[4]

71

In [20]:
grades[0:-1:2]

[12, 67, 71, 65]

In [22]:
data=[1,2,3,4,5,6,7,8]
data[::-1]##list[start:Stop:Step]

[8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
del data[0:3]
data

[4, 5, 6, 7, 8]

In [24]:
# using remove(1) would remove the very first value and keep the rest.
data = [1, 1, 4, 4, 3, 1, 3, 2, 4, 2]
data.remove(1)
data

[1, 4, 4, 3, 1, 3, 2, 4, 2]

In [25]:
##list.pop(i) that pops (deletes) the element at index ‘i’ from the list.
data = [1, 2, 3, 4, 5]
data.pop(0) # delete 0.index
data

[2, 3, 4, 5]

In [26]:
data.pop(2)
data

[2, 3, 5]

In [27]:
#An element can be inserted at a specified location using the function list.insert(i, element)
data=[1,2,3]
data.insert(0,12)
data

[12, 1, 2, 3]

In [28]:
data=[1,2,3]
data.insert(1,6)
data

[1, 6, 2, 3]

In [29]:
data=[1,2,3]
data.insert(len(data),9) ##end of the list
data

[1, 2, 3, 9]

In [33]:
data=[4,2,3,8,56,1]
sorted(data,reverse=False) ## in-place degil, yani datanın kendini degstirmiyor

[1, 2, 3, 4, 8, 56]

In [36]:
data.sort()## in-place sorting= method yani direkt data'nın kendini degistiyor
data

[1, 2, 3, 4, 8, 56]

In [37]:
data = [6, 4, 1, 4, 4, 3, 4, 8, 5, 4, 6, 2, 6]
data.count(4) ##frequency

5

In [43]:
for item in np.unique(data):
    x=data.count(item)
    print("{} occurs {} times".format(item,x))

1 occurs 1 times
2 occurs 1 times
3 occurs 1 times
4 occurs 5 times
5 occurs 1 times
6 occurs 3 times
8 occurs 1 times

In [44]:
cubes=[i**3 for i in range(6)]
cubes

[0, 1, 8, 27, 64, 125]